:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    #logo {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50px;
        left: 100px;

        &:hover {
            width: 102px;
            height: 102px;
        }
    }

    #presentation {
        width: 100%;
        height: 100%;
    }

    div.right {
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        height: 100%;
        width: 5%;
        direction: ltr;

        img {
            width: 50px;
            height: 50px;
            cursor: pointer;

            &:hover {
                width: 55px;
                height: 55px;
            }
        }
    }

    div.left {
        position: absolute;
        display: flex;
        align-items: center;
        left: 0;
        height: 100%;
        width: 5%;
        direction: rtl;

        img {
            width: 50px;
            height: 50px;
            cursor: pointer;

            &:hover {
                width: 55px;
                height: 55px;
            }
        }
    }

    div.skip {
        right: 50px;
        top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: transparent;
        color: black;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        img {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }

        &:hover {
            font-size: 18px;
        }
    }

    div.slider {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 100px;
        position: absolute;

        img {
            margin: 10px;
            width: 50px;
            height: 50px;
        }
    }
}